@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    background-color: rgb(240, 240, 240);
    color:rgb(0, 20, 56);   
}
.body-flex{
display: flex;
}
section, main{
    margin: 0 0 20px 0;
    padding: 0;
}
main{
    width: 90vw;
    margin:auto;
    margin-top: 5em;
    padding-left: 20px;
}


/*headings*/

h1, .heading-1{
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    color: rgb(26, 26, 26);
}

h2, .heading-2{
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
    color: rgb(0, 58, 167);
}

h3, .heading-3{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
     color: rgb(0, 58, 167);
    
}

h4, .heading-4{
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
     color: rgb(0, 58, 167);
}

h5, .heading-5{
   
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
     color: rgb(0, 58, 167);
}

h6, .heading-6{
   
    font-size:15px;
    text-transform: uppercase;
    margin: 0 0 0.5em 0;
     color: rgb(0, 58, 167);
}



/*text*/
a{
    font-weight: 700;
    text-decoration: none;
    color: rgb(29, 108, 255);
}

a:hover{
   
    text-decoration: none;
    color: rgb(0, 68, 196);
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
mark{
    background: none;
    color: rgb(29, 108, 255);
}


/*lists*/
ol{
    counter-reset: counter;
    list-style-type: none;
}
ol li:before {
    counter-increment: counter;
    content: counters(counter, ".") ". " ;
}


/*quotes*/
blockquote{
    background-color: rgb(202, 202, 202);
    padding: 1em;
    margin: 1em 0 1em 0;
    padding-top: 0.1em;
    border-radius: 15px;
}
blockquote > figcaption::before{
 content: "— ";
}
blockquote > p::after{
    content: close-quote;
}
blockquote > p::before{
  content: open-quote;
}


/*table*/
th, td{
    padding: 0.8em;
    border: 1px solid rgb(173, 173, 173);
}
table{
    border-collapse: collapse;
}
th{
    background-color: rgb(26, 26, 26); 
    color: rgb(240, 240, 240);
}
tr:nth-child(even){
   background-color: rgb(202, 202, 202);
}


code{
    font-family: 'IBM Plex Mono', monospace;
   
}
code > pre{
    background-color: rgb(202, 202, 202);
    padding: 1em;
    margin: 1em 0 1em 0;
    border-radius: 15px;
    overflow-x: scroll;
}

/* menu */
.menu{
    
    color:rgb(240, 240, 240);
}

.menu-top{
    background-color: rgb(26, 26, 26);
margin: 0;
display: flex;
position: sticky;
width: 100%;
top: 0;
right: 0;
align-items: center;
justify-content: space-between;
}
.menu-top-fixed{
    position: fixed;
}
.menu-top > .menu__items{
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.menu-top > .logo{
    background-color: rgb(26, 26, 26);
    height: 100%;
    margin-left: 1em;
    font-size: 25px;
    color:rgb(240, 240, 240) ;
    white-space: nowrap;
   
}

.menu-left{
height: 100%;

}

.menu-left > .menu__items{
    position: fixed;
    background-color: rgb(26, 26, 26);
}
.menu-left > .logo{
    background-color: rgb(26, 26, 26);
    padding: 1em;
    font-size: 25px;
    color:rgb(240, 240, 240) ;
    white-space: nowrap;
   
}
.menu__items{
margin: 0;
padding: 0;

}
.menu__item{
display: block;
padding: 0;
display: flex;
align-items: center;

}
.menu__item>a{
width: 100%;
color:rgb(240, 240, 240);
    text-align: center;
   padding: 1.5em;
   font-size: 16px;
    }
.menu__item:hover{
    background-color: rgb(29, 108, 255);
    
    }
.menu__item-home{
    background: rgb(87, 87, 87)
    }

/*scrollbar*/

::-webkit-scrollbar {
    width: 15px;
  }
  

  ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26); 
    
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(87, 87, 87); 
        
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117); 
  }